<h2>Editar encontro</h2>

<%= render 'form' %>

<%= link_to 'Exibir', @meeting, :target => '_blank', :title => 'Salve primeiro para ver as modificações' %> |
<%= link_to 'Voltar', admin_meetings_path %>
