@import "reset.css";

/* basic */
ul { list-style: none; }
.odd { background-color: #e0ebe4; }
.even { background-color: #FFF; }
.left { float: left; }
.right { float: right; }

/* misc */
body {
  font-size: 16px;
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #FFF !important;
  text-align:center;
}

hr {
  background-color: #7e1f1f;
  border: medium none;
  height:1px;
  margin: 10px 0 0 0;
}

h2, h3, h4, h5 {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
}

h2 { font-size: 25px; }
h3 { font-size: 20px; }

a {
  text-decoration: none;
  color: #7e1f1f;
}

a:hover { color: #000; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  position: relative;
}

/* Topo */

div#header {
  height: 126px;
  width: 960px;
  float: left;
  margin-bottom: 10px;
}

div#header h1 {
  width: 195px;
  height: 126px;
  float: left;
  background: url(../images/logo_header.png) no-repeat scroll 0 0 transparent;
  position: absolute;
  text-indent: -9999px;
}

/* Menu */

div#header ul {
  float: right;
  margin-top: 50px;
}

div#header li {
  display:inline;
  margin-left:20px;
}

div#header a {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  font-size: 20px;
}

/* Content */
div#content {
  float: left;
  width: 960px;
  margin: 20px 0 20px 0;
  background-color: white;
}

div#sub_content {
  float: left;
  margin: 20px 0 20px 0;
}

div#home_post {
  float: left;
  width: 960px;
}

div.note {
  font-size: 25px;
}

div#main_content_home {
  float: left;
  width: 550px;
}

div#right_content {
  float: left;
  width: 330px;
  margin-left:40px;
}

div#home_post {
  float: left;
  margin-top: 20px;
}

div#home_post hr {
  margin-bottom:40px;
}

div#column1 {
  float: left;
  width: 600px;
}

div#column2{
  float: left;
  width: 280px;
  margin-left:40px;
}

div.comment {
  padding: 20px 0 20px 0;
}

/* Admin */
div#body {
  float: left;
  width: 600px;
  display: inline;
}

div#sidebar {
  float: left;
  display: inline;
  width: 280px;
  margin-left: 40px;
}

.list li {
  padding: 4px 6px 4px 6px;
}

/*Meetings*/

div.meeting_image {
  width: 400px;
  float: left;
  margin: 0 20px 0 0;
}

div.meeting_image p {
  text-align: center;
}

div.meeting_image p a {
  margin: 0 5px 0 5px;
}

/* User */

ul.list_user {
  margin: 10px 0 0 0;
}

ul.list_user li {
  float: left;
  width: 960px;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 0;
}

ul.list_user li .name, .project, .city { margin-top: 18px; }

ul.list_user li .name {
  float: left;
  width: 330px;
  margin-left: 20px;
}

ul.list_user li .city {
  float: left;
  width: 270px;
  text-align: center;
}

ul.list_user li .name, .city {
  float: left;
}

ul.list_user li span.project {
  float: right;
  width: 250px;
  margin-right: 30px;
  text-align: right;
}

ul.list_user li span.gravatar {
  float: left;
  margin: 4px 0 0 12px;
}

/* Project */

div#project_content {
  float: left;
  width: 960px;
  margin: 20px 0 0 0;
  padding: 5px 10px 10px 10px;
}

div#project_content h3 {
  width: 75%;
}

div#project_content .project_user {
  float: right;
  margin: 0 20px 0 0;
}

div#project_content p {
  width: 100%;
  margin: 0;
}

div#project_content ul li {
  float: left;
  margin: 10px 10px 0 0;
}

div#project_content h4 {
  margin: 10px 0 0 0;
}
