@import "reset.css";

/* basic */
ul { list-style:none; }
.odd { background-color:#e0ebe4; }
.even { background-color:#FFF; }
.left { float: left; }
.right { float: right; }

/* misc */
body {
  font-size: 16px;
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #FFF !important;
  text-align:center;
}

hr {
  background-color:#7e1f1f;
  border:medium none;
  height:1px;
  margin-top: 20px;
}

h2, h3, h4, h5 { font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }

a {
  text-decoration: none;
  color: #7e1f1f;
}
a:hover { color: #000; }

div#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  position: relative;
}

/* Topo */

div#header{
  height: 126px;
  margin-bottom: 30px;
}

div#header h1{
  width: 195px;
  height: 126px;
  float:left;
  background: url(../images/logo_header.png) no-repeat scroll 0 0 transparent;
  position: absolute;
}
div#header h1 span { display:none; }

/* Menu */

div#header #main-nav {
  float:right;
  margin-top: 70px;
  margin-left: 220px;
}



div#header #main-nav li {
  display:inline;
  float:left;
  margin-left:22px;
}

div#header #main-nav a {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  font-size: 20px;
}

/* Content */
div#content {
  float: left;
  width: 920px;
  padding: 20px;
  margin: 40px 0 40px 0;   
  background-color: white;
}
div#home_post {
  float: left;
  width: 920px;
}
div.note {
  font-size: 25px;
}
div#main_content_home {
  float: left;
  width: 550px;
}
div#right_content {
  float: left;
  width: 330px;
  margin-left:40px;
}
div#home_post {
  float: left;
  margin-top: 20px;  
}
div#home_post hr {
    margin-bottom:40px;
}

div#column1 {
  float: left;
  width: 600px;

}
div#column2{
  float: left;
  width: 280px;

  margin-left:40px;
}
}
div.comment {
    padding: 20px 0 20px 0;

}

/* Admin */
div#body {
  float: left;
  width: 600px;
  display: inline;
}
div#sidebar {
  float: left;
  display: inline;
  width: 280px;
  margin-left: 40px;
}
.list li {
  padding: 4px 6px 4px 6px;
}






















