@import "reset.css";

/* basic */
ul { list-style: none; }
.odd { background-color: #C6DBC1; }
.even { background-color: #FFF; }
.left { float: left; }
.right { float: right; }

/* misc */
body {
  font-size: 16px;
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #FFF !important;
  text-align: center;
}

hr {
  background-color: #7e1f1f;
  border: medium none;
  height:1px;
  margin: 10px 0 0 0;
}

h2, h3, h4, h5 {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
}

h2 { font-size: 25px; }
h3 { font-size: 20px; }

a {
  text-decoration: none;
  color: #7e1f1f;
}

a:hover { color: #000; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field textarea {
  width: 600px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}
.field_with_errors input, .field_with_errors textarea{
  background-color: #FFFFE6;
  border: 1px solid red;
}

#error_explanation {
  padding-bottom: 0;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0 0 0 !important;
  color: #c00;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: none;
  margin: 0 0 0 10px;
}

div#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 920px;
  overflow: hidden;
  position: relative;
}

/* Topo */

div#header {
  height: 126px;
  width: 920px;
  float: left;
  margin-bottom: 10px;
}

div#header h1 {
  width: 195px;
  height: 126px;
  float: left;
  background: url(../images/logo_header.png) no-repeat scroll 0 0 transparent;
  position: absolute;
  text-indent: -9999px;
}

/* Menu */

div#header ul {
  float: right;
  margin-top: 50px;
}

div#header li {
  display:inline;
  margin-left:20px;
}

div#header a {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  font-size: 20px;
}

/* Content */
div#content {
  float: left;
  width: 920px;
  margin: 20px 0 20px 0;
  background-color: white;
}

div#content h2 {
  margin-bottom: 15px;
}
div#sub_content {
  width: 100%;
  float: left;
  margin-bottom: 20px
}

div#home_post {
  float: left;
  width: 920px;
}

div.note {
  width: 100%;
  margin-bottom: 25px;
  font-size: 25px;
}

div#main_content_home {
  float: left;
  width: 570px;
}

div#main_content_home p {
  margin-bottom: 10px;
}
div#right_content {
  float: left;
  width: 330px;
  margin: 0 0 20px 20px;
}

div#home_post {
  float: left;
  margin-top: 20px;
}

div#column1 {
  float: left;
  width: 630px;
}

div#column1 h2 {
  margin: 0 !important;
}

div#column1 #post {
  margin-bottom: 20px;
}

div#column1 .post_info {
  margin-bottom: 20px;
}

div#column2 {
  float: left;
  width: 270px;
  margin-left: 20px;
}

div#column2 form, div#column2 ul {
  margin-bottom: 15px;
}

div.comment {
  padding: 20px 0 20px 0;
}

/* footer */
div#footer {
  float: left;
  width: 920px;
  text-align: center;
  margin-bottom: 20px
}

/* Admin */
div#body {
  float: left;
  width: 600px;
  display: inline;
}

div#sidebar {
  float: left;
  display: inline;
  width: 280px;
  margin-left: 40px;
}

.list li {
  padding: 4px 6px 4px 6px;
  margin: 0;
}

/*Meetings*/

div.meeting_image {
  width: 330px;
  float: left;
  margin: 0 20px 0 0;
}

div.meeting_image p {
  text-align: center;
}

div.meeting_image p a {
  margin: 0 5px 0 5px;
}

/* User */
ul.list_user li {
  float: left;
  width: 920px;
  padding: 5px 0 5px 0;
}

ul.list_user li .name, .project, .city { margin-top: 18px; }

ul.list_user li .name {
  float: left;
  width: 330px;
  margin-left: 20px;
}

ul.list_user li .city {
  float: left;
  width: 260px;
  text-align: center;
}

ul.list_user li .name, .city {
  float: left;
}

ul.list_user li span.project {
  float: right;
  width: 230px;
  margin-right: 20px;
  text-align: right;
}

ul.list_user li span.gravatar {
  float: left;
  margin: 4px 0 0 12px;
}

/* User#show */

div.show_user {
  width: 920px;
  height: 48px;
  float: left;
}

div.show_user .gravatar, div.show_user .name, div.show_user .email {
  float: left;
}

div.show_user .name {
  margin: 7px 10px 0 10px;
}

div.show_user .email {
  margin: 15px 10px 0 10px;
}

div.show_user .city {
  float: right;
  margin: 15px 0 0 0;
}

.show_user_projects {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.show_user_projects li {
  margin-top: 10px;
}
.user_edit {
  float: left;
}

/* Project */

div#project_content {
  float: left;
  width: 920px;
  padding: 5px 10px 10px 10px;
}

div#project_content h3 {
  width: 75%;
}

div#project_content .project_user {
  float: right;
  margin: 0 20px 0 0;
}

div#project_content p {
  width: 100%;
  margin: 0;
}

div#project_content ul li {
  float: left;
  margin: 10px 10px 0 0;
}

div#project_content h4 {
  margin: 10px 0 0 0;
}
