<h2>Projetos</h2>

<% if @projects.present? %>
    <% @projects.each do |project| %>
    
    <% content_tag :div, :id => "sub_content", :class => cycle(:odd, :even)  do %>
    
      <h3><%= link_to project.name, project.git, :target => '_blank' %></h3>
      
      <%= project.description %>
      <h4>Membros colaboradores</h4>
      
      <% content_tag :div :id => "sub_content" do %>
        <% project.users.each do |user| %>
          <%= link_to user.full_name %>
        <% end %>
      <% end %>
      
    <% end %>

  <% end %>
<% end %>
