<div id="column1">
  <%- if @posts.present? -%>
    <%- @posts.each do |post| -%>
      
      <h2><%= link_to post.title, post %></h2>
      
      <div id="post">
        <%= simple_format post.body %>
      </div>
      
      <hr/>
      
    <%- end -%>
    
  <%- else -%>
    <p>Não há posts.</p> 
  <%- end -%>
</div>

<%= render "sidebar" %>

