<div id="column1">

  <h3><%= @post.title %></h3>

  <div id="post">
    <%= simple_format @post.body %>
  </div>
  
  <hr />

  <div id="comments">
    <h3>Comentários</h3>
    <%- if @post.comments.any? -%>
     
      <%= render :partial => @post.comments %>
      
    <%- else -%>
      <p>Nobody commented this post yet.</p>
    <%- end -%>
  </div>

  <%= render "comments/form", :post => @post, :comment => Comment.new %>
  
</div>
